/* add home page styles here */
.shells {
    margin-top: 40px;
    display: flex;
    flex-direction: row;;
}

.shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.shell img {
    width:100%;
    z-index: 20;
}
.shell.reveal img {
    transform: translateY(-60px);
}
.ball {
    z-index: 10;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 120px;
    background-color: blue;
    border-radius: 50%;
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.6);
}