/* add home page styles here */
.shells {
    margin-top: 40px;
    display: flex;
    flex-direction: row;;
}

.shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.shell img {
    width:100%;
    z-index: 20;
}